<h3 class="text-white">Top Rated Movies</h3>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-3">
    <div class="col" *ngFor="let movie of topRatedResults">
        <div class="card">
            <div class="image-container">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.posterPath }}" class="card-img-top" [routerLink]="['/movies',movie.id]">
            </div>
            <div class="card-body">
                <h6 class="movie-rate"> &#11088; {{ movie.voteAverage | number: '1.0-2'}}</h6>
                <a class="card-title-link" [routerLink]="['/movies',movie.id]">
                    <h6 class="card-title">{{ movie.title }}</h6>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="d-flex justify-content-center">
    <a (click)="getMoviesPage()" class="btn btn-primary">
      <h6 class="text-white">See More</h6>
    </a>
</div>
<hr>