.image-container {
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.card-img-top {
    width: 100%;
    height: 24vw;
    object-fit: cover;
}
  
h3 {
    padding-top: 6px;
}

.card-title-link {
    color: black; 
    text-decoration: none;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}